*{
    margin: 0px;
    padding: 0px;
}
.main {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-left: 0px;

}
.main img{
    width: 190px;
    height: 216px;
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
}
.main div{
    width: 210px;
    height: 190px;

    
}
.main h1,p,a{
    margin-left: 30px;
    font-size: 20px;
    margin-top: 10px;

}
.main p,a{
    
    color: rgb(221, 218, 218);
    font-size: 14px;
}
.blog{
    display: flex;
    align-items: center;
    gap: 12px;
padding: 20px;
margin-bottom: 50px;
margin-left: 150px;
margin-right: 150px;
border-bottom: 2px solid black;
border-top: 2px solid black;
}
.blog b{
 color: rgb(155, 149, 149);
 font-weight: 200;

}
.blog img{
    width: 250px;
    height: 180px;
}


.footer{
    height: 500px;
    background-color: #000000;
    color: white;

}

.footer-address{
    padding-top:40px ;
    text-align: center;
    border-bottom: 2px solid white;
    margin-left: 100px; 
    margin-right: 100px;

}
.footer-address h1{
    font-size:70px;
    padding-bottom: 30px;
}


